.btn-calculadora {
    position: fixed;
    right: 1.5vw;
    top: 60%;
    border: 0.5px solid #4e4d4d44;
    border-radius: 50%; /* Bordes redondeados */
    padding: .5vw; /* Espaciado interno */
    cursor: pointer;
    z-index: 10000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para el botón */
}

.btn-calculadora:hover {
    background-color: #000000;
    color: white;
    transition: all 0.3s ease; /* Transición suave para la apertura/cierre */
}

.calculadora {
    position: fixed;
    right: 5vw;
    top: 26%;
    background-color: #000000;
    color: rgb(0, 0, 0);
    width: 150px;
    padding: 1rem;
    border-radius: 1rem;
    display: none;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla {
    grid-column: 1 / -1;
    background-color: #c0c1d5;
    padding: .5rem;
    font-size: 1rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 0.5rem;
    font-family: monospace;
    font-weight: 400;
}

.btn {
    background-color: #3f3f3f;;
    color: rgb(255, 255, 255);
    border: 0;
    padding: 0.5rem .2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #25252c;
    color: #FF9A52;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #FF9A52;
}

#igual:hover {
    background-color: #ff6a00;
    color: black;
}